<form action = "edit" method="POST"> 
<p> What should I edit it to ?</p>
<p> {{id}} </p>
<input type= "text" name= "title" 
  value = {{title}}>
<br></br>
<label>
Done: 
<input type = "checkbox" name= "finished"
 {{#if isdone}}
   checked
  {{/if}}
></label>
<br></br>
<input type = "submit">
<input type = "reset">
</form>
